.flex-con{
    height: 900px;
    width: 900px;
    border-radius: 450px;
    position: relative;
    left: 650px;
    bottom: 600px;
}
.flex-con img{
    position: relative;
    top: 600px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.one{

}
.three{
    position: relative;
    bottom: 900px;
    left: 60px;
}
.four{
    background-color: white;
    position: relative;
    bottom: 800px;
}
.four h2{
    position: relative;
    bottom: 600px;
    left: 1100px;
}
.four p{
    position: relative;
    bottom: 600px;
    left: 1100px;
}
.menu{
    width: 1300px;
    height: 900px;
    padding: auto;
    display: flex;
    flex-direction: row;
    background-color: grey;
    position: relative;
    bottom: 1000px;
    left: 100px;
}
.menu h2{
    display: flex;
    position: relative;
    left: 350px;
    top: 30px;
}
.five, .six, .seven{
    position: relative;
    top: 100px;
    height: 300px;
    width: 300px;
    font-size: xx-small;
    display: flexbox;
    justify-content: stretch;
}
.img{
    position: relative;
    right: 135px;
    width: 200px;
    bottom: 100px;
}
.two{
    position: relative;
    left: 700px;
}
.one{
    background-color: white;
    width: auto;
} 
.five p, .six p, .seven p{
    background-color: white;
    margin-right: 80px;
    padding: 10px;
}
.five h4, .six h4, .seven h4{
    background-color: white;
    margin-right: 80px;
    padding: 10px;
}
.happy{
    width: 1300px;
    height: 500px;
    padding: 355px;
    position: relative;
    top: 900px;
    right: 775px;
    background-color: #649549;
}
.happy h2{
    position: relative;
    top: -300px;
    left: 200px;
}
.happy img{
    position: relative;
    top: -500px;
    left: -300px;
}
.happy .img1{
    position: relative;
    top: -850px;
    left: -250px;
}
.eight{
    position: relative;
    right: 1500px;
    top: 1000px;
}
.head{
    color: #6bc840;
    display: flex;
    flex-wrap: nowrap;
}

