.center h2, .eight p{
text-align: center;
}
.head{
    position: relative;
    left: 550px;
}
.center h2{
    position: relative;
    top: 50px;
}
span{
    color: #6cb840;
}
.four{
    text-align: center;
}
.four img{
    position: relative;
    right: 200px;
}
.four h2{
position: relative;
left: 450px;
bottom: 600px;
}
.four p{
    position: relative;
left: 450px;
bottom: 600px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-con{
    position: relative;
    left: 600px;
}